html {
	height: 1024px;
	width: 1280px;
}

body {
	background-color: darkgray;
	padding: 20px;
	font-size: 22px;
}

nav {
	background-color: antiquewhite;
	border: solid;
}

nav ul {
	margin: unset;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0px;
	box-shadow: 4px 4px 8px 8px royalblue;
}

nav li {
	padding: 5px;
	font-size: 25px;
}

main {
	background-color: yellow;
	margin-top: 10px;
	border: solid;
	display: flex;
}

.main {
	display: grid;
	flex-grow: 1;
	margin-right: 5px;
}

.main h1 {
	color: orangered;
	text-align: center;
	font-size: 45px;
	max-width: max-content;
	border-bottom: dashed 3px darkgray;
	width: 80%;
    margin: auto;
}

.main h2 {
	max-width: max-content;
	border-bottom: dashed 3px darkgray;
}

.main p {
	padding-left: 10%;
	max-width: max-content;
}

.underline {
	border-bottom: double 3px brown;
	display: inline;
}

.aboutMe {
	background-color: antiquewhite;
	padding: 20px;
	border: solid;
}

.stories {
	background-color: antiquewhite;
	padding: 20px;
	border: solid;
	margin-top: 5px;
}

aside {
	background-color: pink;
	padding: 20px;
	border: solid;
	max-width: 25%;
}

aside > h1 {
	color: red;
	font-size: 45px;
	max-width: max-content;
	width: 80%;
    margin: auto;
	border-bottom: dashed 3px darkgray;
}

aside li {
	font-family: emoji;
	padding: 5px 5px 10px 5px;
}

@media (width: 720px){
	body {
		background-color: tomato;
	}
}
